In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from astropy.table import Table
import ashd

In [2]:
dwarfs = Table.read('../data/nearby-dwarfs.fits')
dwarfs.rename_column('_RAJ2000', 'ra')
dwarfs.rename_column('_DEJ2000', 'dec')
dwarfs = dwarfs.to_pandas()

WARNING: UnitsWarning: '10+6Msun' did not parse as fits unit: At col 4, Unit 'Msun' not supported by the FITS standard. Did you mean Sun? [astropy.units.core]
WARNING: UnitsWarning: '[Sun]' did not parse as fits unit: Invalid character at col 0 [astropy.units.core]

In [3]:
cut = (dwarfs['R1']>3) & (dwarfs['R1']<50) 
dwarfs.loc[cut, ['Name', 'muV', 'R1']]

                           Name        muV         R1
3                     Segue (I)  27.600000   4.400000
4                 Ursa Major II  27.900000  16.000000
5                     Bootes II  28.100000   4.200000
6                      Segue II  27.400000   3.400000
8                Coma Berenices  27.299999   6.000000
12                   Bootes (I)  27.500000  12.600000
13                        Draco  25.000000  10.000000
14                   Ursa Minor  26.000000   8.200000
15                     Sculptor  23.500000  11.300000
16                  Sextans (I)  27.100000  27.799999
17               Ursa Major (I)  27.700001  11.300000
18                       Carina  25.500000   8.200000
19                     Hercules  27.200001   8.600000
20                       Fornax  23.299999  16.600000
21                       Leo IV  27.500000   4.600000
25           Canes Venatici (I)  27.100000   8.900000
27                        Leo I  22.600000   3.400000
33                  Andromeda I  24.700001   3.100000
41              Andromeda XXIII  28.000000   4.600000
44                      NGC 147  21.200001   3.170000
45                Andromeda XXI  27.000000   3.500000
49                 Andromeda II  24.500000   6.200000
52                Andromeda XIX  29.299999   6.200000
55                Andromeda VII  23.200001   3.500000
62                      IC 1613  22.799999   6.810000
63                      Phoenix  25.799999   3.760000
65                        Cetus  25.000000   3.200000
68  WLM (Wolf-Lundmark-Melotte)  23.700001   7.780000
75                     NGC 3109  22.600000   4.300000
83                       NGC 55  19.299999   5.160000
85                      NGC 300  21.000000   5.000000

In [ ]:
name = 'Cetus'
fetch = dwarfs['Name']==name
ra, dec = coords = dwarfs.loc[fetch, ['ra', 'dec']].values[0]
params = ashd.PipeParams()
params.r_inner = 2.0
params.r_outer = 3.0
pipe = ashd.ASHDPipe(ra, dec, params=params)
pipe.detect()
pipe.display_sources(plot_coord=True)

pipeline 21 | 2017-08-24 12:25:43,708 |  | INFO: fetching image nearest to ra, dec = 6.5458, -11.0444
pipeline 41 | 2017-08-24 12:25:45,959 |  | INFO: smoothing image with ring filter with r_in = 2.0 and r_out = 3.0
pipeline 47 | 2017-08-24 12:25:47,026 |  | INFO: measuring and subtracting background
pipeline 50 | 2017-08-24 12:25:47,138 |  | INFO: detecting sources
pipeline 71 | 2017-08-24 12:25:50,456 |  | INFO: displaying sources with mpl